
body,html {
	position: relative;
    padding: 0;
	justify-content: center;
	align-items: center;
	background-color: antiquewhite;
}
.navbar {
    background:#41861e;
	position: fixed;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
.first {
	width: 100%;
	display: flex;
	text-align: center;
	height: 500px;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size:contain;
	flex-direction: column;
}
#second {
	margin-top: 100px;
	width: 100%;
	text-align: center;
	margin-left: 10px;
	height: 750px;
	justify-content: center;
	align-items: left;
}

#second h1 {
	font-size: 3em;
	color: rgb(187, 199, 18);
	text-shadow: 0 2px rgb(90, 62, 45), 2px 0 rgb(59, 52, 30);
}
.first h1 {
	font-size: 3em;
	color: rgb(187, 199, 18);
	text-shadow: 0 2px rgb(90, 62, 45), 2px 0 rgb(59, 52, 30);
}
.first h2 {
	font-size: 2em;
}

.container {
	padding: 0;
	justify-content: center;
	justify-self: center;
	align-items: center;
	background-image: url(./img/me.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size:contain;
	background-attachment: fixed;
	margin-bottom: 100px;
}

.container2
{
	padding: 20px;
	display: flex;
	justify-content: center;
	justify-self: center;	
	align-items: center;
	border-left: 10px solid #6ab446;
}

.container2 img {
	width: 45%;
	height: 45%;
}
.container2 .myList {
	align-self: flex-start;
	text-align: left;
	width: 50%;
	height: 50%;
	align-items: left;
}

.myList h2 {
	text-align: center;
	justify-content: center;
}

table
{
	padding: 0;
	margin: 0;
	text-align: center;
	width: 100%;
	margin-bottom: 7%;
}
td
{
	display: flex;
	align-items: center;
	justify-content: center;
	border-spacing: 0;
}
tr
{
	padding: 0;
	margin: 0;
	align-items: center;
	border-spacing: 0;
}
.cont3{
	width: 100%;
	display: flex;
	justify-content: center;
}

.social{
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
}

.social img{
	width: 30px;
	height: 30px;
	margin: 10%;
}

footer{
	max-height: 50px;
	display: flex;
    justify-content: center;
	width: 100%;
	justify-self: center;
}

.button {
	display: inline-block;
	margin: 5px;
	color: #fff;
	background-color: #c9a42e;
	border: none;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}

.button:hover {
	background-color: #e6ca52;
}